<div class="modal-header">
  <h5 class="modal-title">Give Feedback</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="cancel()"
  ></button>
</div>

<div class="modal-body">
  <form [formGroup]="feedbackForm" (submit)="submit()">
    <div class="mb-3">
      <label class="form-label">How do you feel about the experience?</label>
      <div class="d-flex justify-content-between">
        <ng-container *ngFor="let s of sentiments">
          <label class="text-center flex-fill mx-1">
            <input
              type="radio"
              class="btn-check"
              [value]="s"
              formControlName="sentiment"
              [id]="s"
              autocomplete="off"
            />
            <label class="btn btn-outline-primary w-100" [for]="s">{{
              s
            }}</label>
          </label>
        </ng-container>
      </div>
    </div>

    <div class="mb-3">
      <label for="comment" class="form-label"
        >What are the main reasons for your rating?</label
      >
      <textarea
        id="comment"
        class="form-control"
        rows="3"
        formControlName="comment"
        placeholder="Share your thoughts..."
      ></textarea>
    </div>

    <div class="form-check mb-3">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="allowFollowUp"
        id="allowFollowUp"
      />
      <label class="form-check-label" for="allowFollowUp">
        I may be contacted about this feedback.
      </label>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="cancel()"
      >
        Cancel
      </button>
      <button type="submit" class="btn btn-primary" [disabled]="loading">
        {{ loading ? "Submitting..." : "Submit" }}
      </button>
    </div>
  </form>
</div>
