<div class="modal-header">
  <h4 class="modal-title">
    @if(requirement !== null) { Update } @else { Create } Requirement
  </h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>

<div class="modal-body">
  <form (submit)="submit()" [formGroup]="requirementForm">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="title"
        formControlName="title"
        placeholder="Enter title"
      />
      <label for="title">Title</label>
      <div
        *ngIf="
          requirementForm.get('title')?.invalid &&
          requirementForm.get('title')?.touched
        "
        class="text-danger small mt-1"
      >
        Title is required.
      </div>
    </div>

    <div class="form-floating mb-3">
      <textarea
        class="form-control"
        placeholder="Add a description"
        id="description"
        formControlName="description"
        style="height: 100px"
      ></textarea>
      <label for="description">Description</label>
      <div
        *ngIf="
          requirementForm.get('description')?.invalid &&
          requirementForm.get('description')?.touched
        "
        class="text-danger small mt-1"
      >
        Description is required.
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Requirement Items</label>
      <div
        *ngFor="let item of typedItems; let i = index"
        class="input-group mb-2"
      >
        <input
          type="text"
          class="form-control"
          [formControl]="item"
          placeholder="Enter item"
        />
        <button
          type="button"
          class="btn btn-outline-danger"
          (click)="removeItem(i)"
        >
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <button
        type="button"
        class="btn btn-outline-primary w-100"
        (click)="addItem()"
      >
        <i class="bi bi-plus-lg"></i> Add Item
      </button>
      <div
        *ngIf="itemsArray.invalid && itemsArray.touched"
        class="text-danger small mt-2"
      >
        All items must be filled.
      </div>
    </div>

    <button
      class="btn btn-primary w-100"
      type="submit"
      [disabled]="isLoading || requirementForm.invalid"
    >
      <ng-container *ngIf="isLoading; else saveText">
        <div class="spinner-border spinner-border-sm" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </ng-container>
      <ng-template #saveText>Save</ng-template>
    </button>
  </form>
</div>
