button[ngbAccordionButton] {
  width: 100%;
  text-align: left;
  padding: 1rem;
  background-color: #f8f9fa;
  border: none;
  border-radius: 0.5rem;
}

button[ngbAccordionButton]:focus {
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

[ngbAccordionItem] {
  margin-bottom: 0.5rem;
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  overflow: hidden;
}
